doctype html
html
  head
    title 20151232
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    :markdown
      # 手机网站改版第一期（20151231）
      ***
      ## 前端部分

      ### 1、首页

      UI ＝> 小更改（顶部变搜索框）

      功能 ＝> 增加搜索功能

      数据 ＝> 搜索用Ajax获取数据

      ### 2、场地详情（大改、整页重做）

      UI ＝> 全改

      功能 ＝>

          1. 1、图片相册功能（全局通用）

          2. 2、7天预定模块（滑动）

          3. 其他小功能

      数据 ＝> php预处理

      ### 3、地图页

      #### 包含 =>

      场馆地图

      停车场地图

      数据 ＝> url参数

      ### 4、评论列表页（新增页面）

      UI ＝> 新做

      功能 ＝> 下拉到底请求新的数据

      数据 ＝> php预处理 ＋ Ajax请求

      ### 5、时间

      预计需要工作时间：2人5天

      预计开始时间：1月6日

      预计影响：时间线和趣运动1.9.6有冲突，1.9.6UI确定好的话就**优先先做1.9.6。**

      **预计结束时间：不确定，视1.9.6的情况**


